.center-content {
    display: flex;
    justify-content: center;
    //align-items: center;
   
  }

  .form-label{
    font-size: 20px;
    font-weight: bold;
  }


input{
    background-color: rgb(255, 240, 219);
}